################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/math_parser/.vs/math_parser/v16/Browse.VC.opendb
